{% extends 'base.html.twig' %}

{% block title %}Edit Festival{% endblock %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center pb-50">
        <div class="card bg-base-100 w-96 shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Edit festival!</h2>
                {{ include('festival/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="flex justify-center gap-4 mt-4">
                    {{ include('festival/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
